{% extends "base.html" %}
{% block customStyles %}
.image{
    height:200px;
}
.content{
    color:red;
}
.myfieldclass{
    margin:15px
}
.invisible{
    height:0;
    width:0;
}

{% endblock %}
{% block content %}
<div class="container">
<h4> My liked events</h4>
<div class="row">
{% for i in events%}
  <div class="col-sm-6 col-md-4 p-3">
    <div class="card">
    <img src="{{i.image.url}}" class="card-img-top image img-fluid" alt="...">
    <div class="card-body">

        <p class="card-title">
        <span class="fs-2 text">{{i.name}} </span>
        <i id="like{{i.id}}" value={{i.id}} class="{% if i.is_liked%}invisible{% endif %}"  onClick="like(this)" style="cursor:pointer">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
        </i>   
        <i id="unlike{{i.id}}" class="{% if i.is_liked%}{% else %} invisible{% endif %}" value={{i.id}} onClick="like(this)"  style="cursor:pointer">
            <svg xmlns="http://www.w3.org/2000/svg"  width="30" height="30"  fill="currentColor" class="bi bi-heart-fill" color="red" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
        </i>
        </p>       
         
        <span class="fs-5 text content">{{i.time|date:'H:i'}} {{i.date|date:"l, d F y"}} </span>
        <p class="fs-5 text card-text">{{i.location.city}}</p>

    </div>
    </div>
  </div>
{% endfor %}
</div>
</div>
{% endblock %}
{% block customscript %}
<script>
$(function () {
    like = function (elm) {
        $.ajax({
            type : "GET", 
            url:"{% url 'like' %}",
            data: {
            event_id: $(elm).attr('value'),
            dataType: "json",
            },
            cache: false,
            success: function(data){
            $('#like'+$(elm).attr('value')).toggleClass('invisible')
            $('#unlike'+$(elm).attr('value')).toggleClass('invisible')
            },
            failure: function() {
                console.log("success")
            }
        });
    };
});
</script>
{% endblock %}